
:root {
    --navbar-height: 60px;
  
    --drawer-width: 300px;
  
    /* 链接字体颜色 */
    --route-link-text-color: #4e4e4e;
  
    /* 盒子阴影 */
    --box-shadow: 0 2px 4px -4px rgba(31, 35, 41, 0.02), 0 4px 8px rgba(31, 35, 41, 0.02),
      0 4px 16px 4px rgba(31, 35, 41, 0.03);
  }
  